body {
  width: 7.5rem;
  margin: 0 auto;
  position: relative; }

header {
  padding: 0.2rem 0.2rem; }
  header .navigation-left {
    float: left;
    padding-top: 0.13rem; }
    header .navigation-left.rotate span {
      transform-origin: 0 0; }
    header .navigation-left.rotate span:first-of-type {
      transform: translateX(0.05rem) translateY(-0.04rem) rotate(45deg); }
    header .navigation-left.rotate span:last-of-type {
      transform: translateX(0) rotate(-45deg); }
    header .navigation-left span {
      display: block;
      width: 0.53rem;
      height: 2px;
      background: #cccccc;
      transition: all 0.5s; }
      header .navigation-left span:first-of-type {
        margin-bottom: 0.3rem; }
  header .navigation-mid img {
    display: block;
    width: 2.84rem;
    margin: 0 auto; }

.banner img {
  display: block;
  width: 100%; }

.article-click {
  display: flex;
  justify-content: space-between;
  margin-top: 0.44rem;
  padding: 0 0.2rem;
  -webkit-justify-content: space-between;
  display: -webkit-flex; }
  .article-click .article-item {
    padding: 0.08rem;
    transition: 0.5s;
    -webkit-transition: 0.5s; }
    .article-click .article-item.item2 {
      background: #6686ff; }
    .article-click .article-item.item1 {
      background: #43b9f6; }
    .article-click .article-item.item3 {
      background: #9878ff; }
    .article-click .article-item.hover {
      transform: scale(1.1); }
    .article-click .article-item .article-img {
      margin: 0 auto 0.07rem; }
      .article-click .article-item .article-img img {
        display: block;
        width: 100%;
        height: 0.75rem; }
    .article-click .article-item .article-detail {
      text-align: center;
      border: 1px solid #fff; }
      .article-click .article-item .article-detail .article-title {
        font-size: 0.2812rem;
        color: #fff; }
      .article-click .article-item .article-detail .article-text {
        font-size: 0.2343rem;
        color: #fff;
        margin-bottom: 0;
        margin-top: 0.20rem; }
      .article-click .article-item .article-detail .underline {
        width: 0.40rem;
        margin: 0 auto;
        height: 2px;
        background: #fff;
        display: block; }

.side-menu {
  background: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5.22rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  overflow-y: scroll; }
  .side-menu.side-hide {
    opacity: 0;
    transform: translateX(-5.22rem);
    -webkit-transform: translateX(-5.22rem); }
  .side-menu.side-show {
    /*transform: translateX(0);-webkit-transform: translateX(0);*/
    opacity: 1; }
  .side-menu .channel-list .channel-item {
    margin-bottom: 1px; }
    .side-menu .channel-list .channel-item.show .channel-item-title {
      background: #333;
      color: #fff; }
      .side-menu .channel-list .channel-item.show .channel-item-title b {
        background: #fff; }
    .side-menu .channel-list .channel-item .channel-item-title {
      font-size: 0.3749rem;
      padding: 0.3rem 0.4rem;
      background: #fff; }
      .side-menu .channel-list .channel-item .channel-item-title b {
        padding: 0.16rem;
        border-radius: 50%;
        border: 1px solid #ccc;
        display: inline-block;
        margin-right: 0.18rem; }
    .side-menu .channel-list .channel-item .sub-channel-box {
      background: #ebebeb;
      display: none; }
      .side-menu .channel-list .channel-item .sub-channel-box .sub-channel-item {
        padding: 0.2rem 0.4rem; }
        .side-menu .channel-list .channel-item .sub-channel-box .sub-channel-item a {
          font-size: 16px;
          color: #333; }

.index-title {
  text-align: center;
  margin: 1.10rem 0 0.20rem;
  font-size: 0.4218rem; }

.ks-navigator-content {
  padding: 0 0.2rem; }

.ks-navigator {
  padding: 0 0.4rem;
  overflow: hidden; }
  .ks-navigator .ks-navigator-item {
    float: left;
    width: 3rem; }
    .ks-navigator .ks-navigator-item:nth-of-type(1) {
      margin-right: 0.3rem;
      margin-bottom: 0.30rem; }
    .ks-navigator .ks-navigator-item:nth-of-type(3) {
      margin-right: 0.3rem;
      margin-bottom: 0.30rem; }
    .ks-navigator .ks-navigator-item img {
      display: block;
      width: 100%;
      height: 1.8rem; }
    .ks-navigator .ks-navigator-item .ks-navigator-item-detail {
      padding: 0.16rem 0.1rem; }
      .ks-navigator .ks-navigator-item .ks-navigator-item-detail .ks-navigator-item-title {
        font-size: 14px; }
      .ks-navigator .ks-navigator-item .ks-navigator-item-detail svg {
        float: right;
        margin-top: 0.04rem; }

.ks-navigator-more {
  width: 3.45rem;
  height: 0.8rem;
  margin: 0.28rem auto 0;
  background-color: #449ce7;
  text-align: center;
  line-height: 0.8rem; }
  .ks-navigator-more a {
    color: #fff;
    font-size: 0.3281rem; }

.doctor-team {
  background: #449ce7;
  padding: 0 0.2rem; }
  .doctor-team .doctor-img {
    width: 2.4rem;
    float: left;
    margin-right: 0.1rem; }
    .doctor-team .doctor-img img {
      display: block;
      width: 100%;
      height: 2.6rem; }
  .doctor-team .doctor-detail {
    padding: 0.28rem 0 0; }
    .doctor-team .doctor-detail .doctor-name {
      font-size: 0.3281rem;
      color: #fff; }
      .doctor-team .doctor-detail .doctor-name strong {
        font-size: 0.3749rem;
        margin-right: 0.07rem; }
    .doctor-team .doctor-detail .doctor-zc {
      font-size: 0.12rem;
      overflow: hidden; }
      .doctor-team .doctor-detail .doctor-zc ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .doctor-team .doctor-detail .doctor-zc ul li {
          float: left;
          padding: 0.03rem;
          background: #fff;
          font-size: 0.10rem;
          margin-right: 0.06rem;
          border-radius: 2px;
          margin-top: 0.02rem;
          margin-bottom: 0.02rem; }
    .doctor-team .doctor-detail .doctor-info {
      font-size: 0.2343rem;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 0.15rem;
      color: #fff; }
    .doctor-team .doctor-detail .doctor-zx {
      margin-top: 0.18rem; }
      .doctor-team .doctor-detail .doctor-zx a {
        padding: 0.05rem 0.2rem;
        background: #ff7e46;
        color: #fff;
        font-size: 0.2812rem;
        border-radius: 4px; }
  .doctor-team .swiper-pagination-fraction {
    width: auto;
    right: 0;
    left: auto;
    bottom: 0;
    color: #89b7e6;
    font-size: 0.60rem; }

.news-timeline {
  position: relative;
  padding: 0 0.2rem; }
  .news-timeline .news-line {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 2px;
    background: #e9e9eb;
    margin-left: -1px; }
  .news-timeline .news-list {
    overflow: hidden;
    margin-bottom: 0.43rem; }
    .news-timeline .news-list.news-list-bg {
      padding: 0.08rem 0.2rem;
      background: #ff7e46;
      position: relative;
      margin: 0 -0.2rem; }
      .news-timeline .news-list.news-list-bg .news .news-title {
        color: #fff; }
      .news-timeline .news-list.news-list-bg .news .news-article {
        color: #fff; }
    .news-timeline .news-list.reverse .news {
      float: right;
      padding-left: 0.13rem;
      padding-right: 0; }
    .news-timeline .news-list.reverse .news-time {
      float: right;
      padding-left: 0;
      padding-right: 0.20rem; }
      .news-timeline .news-list.reverse .news-time .icon {
        left: auto;
        right: -0.21rem; }
    .news-timeline .news-list .news-time {
      position: relative;
      padding-left: 0.20rem;
      float: left; }
      .news-timeline .news-list .news-time .icon {
        position: absolute;
        left: -0.06rem;
        top: 0.10rem;
        font-size: 0.3749rem; }
      .news-timeline .news-list .news-time .month-day {
        font-size: 0.4687rem;
        color: #a0a0a0; }
      .news-timeline .news-list .news-time .year {
        font-size: 0.4218rem;
        color: #a0a0a0; }
    .news-timeline .news-list .news {
      float: left;
      width: 3.5rem;
      padding-right: 0.13rem; }
      .news-timeline .news-list .news .news-article {
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 0.2812rem; }
      .news-timeline .news-list .news .news-title {
        font-size: 0.3281rem;
        font-weight: bold; }
    .news-timeline .news-list .news-img {
      float: left;
      width: 3.0rem;
      margin-left: 0.20rem; }
      .news-timeline .news-list .news-img img {
        display: block;
        height: 1.26rem; }
  .news-timeline .news-more {
    width: 3.45rem;
    height: 0.8rem;
    margin: 0.57rem auto 0;
    background-color: #449ce7;
    text-align: center;
    line-height: 0.8rem;
    position: relative; }
    .news-timeline .news-more a {
      color: #fff;
      font-size: 0.3281rem; }

.hospital-detail {
  padding: 0.2rem;
  font-size: 0.3281rem; }

.hospital-detail-more {
  width: 3.45rem;
  height: 0.8rem;
  margin: 0.28rem auto 0;
  background-color: #449ce7;
  text-align: center;
  line-height: 0.8rem; }
  .hospital-detail-more a {
    color: #fff;
    font-size: 0.3281rem; }

.adv-img img {
  display: block;
  width: 100%; }

.honor-list img {
  display: block;
  width: 100%; }

footer {
  padding: 0.2rem; }
  footer .footer-content {
    font-size: 0.3281rem; }
    footer .footer-content .social-contact {
      font-size: 0.4687rem;
      margin-top: 0.30rem; }
    footer .footer-content .copyright {
      text-align: center;
      margin-top: 0.30rem; }

.down-menu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999; }
  .down-menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0; }
  .down-menu .current-menu {
    padding: 0.30rem 0.20rem;
    background: #333333; }
    .down-menu .current-menu a {
      font-size: 0.3749rem;
      color: #fff; }
    .down-menu .current-menu .icon {
      color: #fff;
      font-size: 0.4687rem;
      float: right;
      transition: 0.5s;
      -webkit-transition: 0.5s; }
  .down-menu .toggle-menu {
    display: none; }
    .down-menu .toggle-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .down-menu .toggle-menu ul li {
        padding: 0.20rem;
        border-bottom: 1px solid #bab6b7;
        background: #ebebeb;
        opacity: 0.7; }
        .down-menu .toggle-menu ul li a {
          color: #333;
          font-size: 0.3749rem; }
  .down-menu.active .icon {
    transform: rotate(180deg); }

.img-show {
  margin: 0 0.20rem; }
  .img-show img {
    display: block;
    width: 100%; }

.img-show-content {
  padding: 0.20rem;
  text-align: justify;
  font-size: 0.3281rem; }

.article-title {
  text-align: center;
  margin-top: 0.50rem; }
  .article-title .article-main-title {
    font-size: 0.4218rem; }
  .article-title .article-time {
    font-size: 0.2812rem;
    color: #666666; }

.article-para {
  font-size: 0.3749rem;
  padding: 0.34rem 0.20rem; }

.article-list {
  margin-top: 0.32rem; }
  .article-list .article-item {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 0.6rem; }
    .article-list .article-item .article-item-content {
      width: 4.1rem; }
      .article-list .article-item .article-item-content .article-item-time {
        overflow: hidden; }
        .article-list .article-item .article-item-content .article-item-time .article-item-time-date {
          font-size: 0.3281rem;
          float: left;
          margin-right: 0.14rem;
          margin-top: 0.05rem; }
        .article-list .article-item .article-item-content .article-item-time .article-item-time-year {
          float: left;
          font-size: 0.4218rem;
          color: #a0a0a0; }
      .article-list .article-item .article-item-content .article-item-title {
        font-size: 0.3749rem;
        font-weight: bold; }
      .article-list .article-item .article-item-content p {
        font-size: 0.2812rem;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .article-list .article-item .article-item-img {
      width: 3rem; }
      .article-list .article-item .article-item-img img {
        display: block;
        width: 100%;
        height: 1.4rem; }

.article-page {
  text-align: center;
  font-size: 0.3281rem; }

.public-welfare {
  padding: 0 0.2rem;
  margin-top: 0.32rem; }
  .public-welfare .public-welfare-title {
    font-size: 0.3749rem;
    color: #007ac1;
    margin-bottom: 0.14rem; }
  .public-welfare .public-welfare-content {
    font-size: 0.3281rem;
    margin-bottom: 0.28rem;
    overflow: hidden; }
    .public-welfare .public-welfare-content img {
      display: block;
      width: 100%; }
    .public-welfare .public-welfare-content .icon {
      color: #007ac1; }
    .public-welfare .public-welfare-content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .public-welfare .public-welfare-content ul li {
        float: left;
        width: 1.97rem;
        margin-right: 0.48rem; }
        .public-welfare .public-welfare-content ul li:nth-of-type(3n) {
          margin-right: 0; }
        .public-welfare .public-welfare-content ul li img {
          height: 0.6rem; }
    .public-welfare .public-welfare-content .public-welfare-content-text {
      margin-bottom: 0.16rem; }

.about-us {
  padding: 0 0.20rem; }
  .about-us .about-us-img img {
    display: block;
    width: 100%; }
  .about-us .about-us-title {
    text-align: center;
    margin-top: 0.26rem;
    margin-bottom: 0.45rem; }
    .about-us .about-us-title .about-us-cn-title {
      font-size: 0.4218rem; }
    .about-us .about-us-title .about-us-en-title {
      font-size: 0.2343rem; }
  .about-us .about-us-content .about-us-show-text {
    font-size: 0.3281rem;
    margin-bottom: 0.18rem; }
  .about-us .about-us-content .about-us-show-img {
    overflow: hidden; }
    .about-us .about-us-content .about-us-show-img .about-us-show-img-item {
      width: 2.29rem;
      float: left;
      margin-right: 0.10rem; }
      .about-us .about-us-content .about-us-show-img .about-us-show-img-item:nth-of-type(3) {
        margin-right: 0; }
      .about-us .about-us-content .about-us-show-img .about-us-show-img-item img {
        display: block;
        width: 100%;
        height: 1.60rem; }
  .about-us .about-us-content .about-us-content-title {
    font-size: 0.3749rem;
    margin-bottom: 0.18rem; }
  .about-us .about-us-content p {
    margin-bottom: 0.56rem;
    font-size: 0.3281rem; }

.honor {
  padding: 0 0.2rem; }
  .honor .honor-detail {
    font-size: 0.3749rem; }
    .honor .honor-detail span {
      font-size: 0.4218rem;
      color: #ff7e46; }
  .honor .honor-show {
    margin: 0.48rem 0.63rem 0;
    overflow: hidden; }
    .honor .honor-show .honor-show-img {
      float: left;
      width: 2.67rem;
      margin-right: 0.5rem;
      margin-bottom: 0.20rem; }
      .honor .honor-show .honor-show-img:nth-of-type(2n) {
        margin-right: 0; }
      .honor .honor-show .honor-show-img img {
        display: block;
        width: 100%;
        height: 1.76rem; }
      .honor .honor-show .honor-show-img p {
        text-align: center;
        font-size: 0.3281rem;
        padding: 0.07rem;
        margin-bottom: 0; }

.services {
  padding: 0 0.2rem; }
  .services .services-img {
    margin: 0 0.90rem 0.39rem; }
    .services .services-img img {
      display: block;
      width: 100%; }
  .services .services-content .services-content-title {
    font-size: 0.3749rem;
    color: #007ac1;
    margin-bottom: 0.3rem; }
  .services .services-content .services-content-text {
    margin-bottom: 0.5rem;
    font-size: 0.3281rem; }
  .services .services-content p {
    font-size: 0.3281rem; }
    .services .services-content p span {
      color: #007ac1; }

.equipment-list {
  padding: 0 0.4rem;
  overflow: hidden; }
  .equipment-list .equipment-item {
    float: left;
    width: 3rem;
    margin-bottom: 0.30rem; }
    .equipment-list .equipment-item:nth-of-type(2n-1) {
      margin-right: 0.3rem; }
    .equipment-list .equipment-item img {
      display: block;
      width: 100%;
      height: 1.8rem; }
    .equipment-list .equipment-item .equipment-item-detail .equipment-item-detail-title {
      font-size: 0.3281rem; }
    .equipment-list .equipment-item .equipment-item-detail svg {
      float: right;
      margin-top: 0.04rem; }

.schedule {
  padding: 0 0.2rem; }
  .schedule .schedule-tip .schedule-tip-title {
    color: #007ac1;
    font-size: 0.3749rem; }
  .schedule .schedule-tip p {
    font-size: 0.3281rem; }
  .schedule .schedule-title {
    font-size: 0.4218rem;
    text-align: center;
    padding: 0.3rem 0 0.2rem;
    color: #007ac1; }
    .schedule .schedule-title.next-week-title {
      color: #ff7e46; }
  .schedule .schedule-time {
    margin-bottom: 0.1rem; }
  .schedule table {
    margin-bottom: 0.55rem; }
    .schedule table.cur-week {
      border-left: 1px solid #007ac1; }
      .schedule table.cur-week th, .schedule table.cur-week td {
        font-size: 0.2343rem;
        text-align: center; }
      .schedule table.cur-week td {
        border-bottom: 1px solid #007ac1;
        border-right: 1px solid #007ac1; }
        .schedule table.cur-week td a {
          color: #333333; }
      .schedule table.cur-week th {
        border-right: 1px solid #00b0de;
        background: #007ac1;
        color: #fff; }
    .schedule table.next-week {
      border-left: 1px solid #ff7e46; }
      .schedule table.next-week th, .schedule table.next-week td {
        font-size: 0.2343rem;
        text-align: center; }
      .schedule table.next-week td {
        border-bottom: 1px solid #ff7e46;
        border-right: 1px solid #ff7e46; }
        .schedule table.next-week td a {
          color: #333333; }
      .schedule table.next-week th {
        border-right: 1px solid #ffb386;
        background: #ff7e46;
        color: #fff; }

.fastOrder {
  padding: 0 0.2rem; }
  .fastOrder label, .fastOrder input {
    font-size: 0.3281rem; }
  .fastOrder label {
    text-align: right; }
  .fastOrder .radio {
    display: inline;
    vertical-align: middle;
    width: auto; }
  .fastOrder .form-group {
    margin-left: 0;
    margin-right: 0; }
  .fastOrder .yzm {
    display: block;
    width: 100%; }
  .fastOrder .fastOrder-btn {
    text-align: center; }
    .fastOrder .fastOrder-btn button[type='submit'] {
      background: #ff7e46;
      color: #fff;
      font-size: 0.3749rem;
      padding: 0.08rem 0.30rem; }
    .fastOrder .fastOrder-btn button[type='reset'] {
      background: #a0a0a0;
      color: #fff;
      font-size: 0.3749rem;
      padding: 0.08rem 0.30rem; }

.map {
  padding: 0 0.2rem; }
  .map .map-navigator {
    margin-bottom: 0.45rem; }
    .map .map-navigator img {
      display: block;
      width: 100%; }
  .map .map-router {
    padding: 0 0.7rem; }
    .map .map-router .hospital-contact {
      font-size: 0.3281rem;
      margin-bottom: 0.3rem; }
    .map .map-router .map-router-way .map-router-way-item {
      margin-bottom: 0.37rem; }
      .map .map-router .map-router-way .map-router-way-item .map-router-title {
        font-size: 0.3749rem;
        color: #007ac1; }
        .map .map-router .map-router-way .map-router-way-item .map-router-title .icon {
          font-size: 0.5156rem; }
      .map .map-router .map-router-way .map-router-way-item .map-router-text {
        font-size: 0.3281rem; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0; } }
.procedure {
  padding: 0 0.2rem; }
  .procedure img {
    display: block;
    width: 100%; }

.floor {
  position: relative; }
  .floor .floor-line-bg {
    width: 0.01rem;
    background: #007ac1;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -0.005rem; }
  .floor .floor-distribution {
    font-size: 0.3281rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 0.7rem; }
    .floor .floor-distribution:nth-of-type(2n-1) {
      text-align: right; }
      .floor .floor-distribution:nth-of-type(2n-1) .floor-num {
        margin-right: 2.78rem; }
    .floor .floor-distribution:nth-of-type(2n) .floor-num {
      margin-left: 3.09rem; }
    .floor .floor-distribution span {
      color: #ff7e46; }
    .floor .floor-distribution .icon {
      font-size: 0.8624rem;
      margin-top: -0.19rem;
      color: #007ac1; }
    .floor .floor-distribution .floor-text {
      font-size: 0.3281rem;
      flex: 1; }

.medical {
  padding: 0 0.2rem; }
  .medical .medical-content {
    margin-bottom: 0.30rem; }
    .medical .medical-content .medical-content-title {
      font-size: 0.3749rem;
      color: #ff7e46;
      margin-bottom: 0.30rem; }
    .medical .medical-content .medical-content-detail ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .medical .medical-content .medical-content-detail ul li {
        font-size: 0.3281rem; }
        .medical .medical-content .medical-content-detail ul li .icon {
          color: #007ac1; }
    .medical .medical-content .medical-content-detail .medical-content-text {
      font-size: 0.3281rem;
      margin-bottom: 0.30rem; }

.environment .environment-img img {
  display: block;
  width: 100%; }

.doctor-list .doctor-item {
  overflow: hidden;
  margin-bottom: 0.25rem; }
  .doctor-list .doctor-item .doctor-show {
    float: left;
    width: 2.59rem;
    margin-right: 0.1rem; }
    .doctor-list .doctor-item .doctor-show img {
      display: block;
      width: 100%;
      height: 3.0rem; }
  .doctor-list .doctor-item .doctor-item-detail {
    overflow: hidden; }
    .doctor-list .doctor-item .doctor-item-detail .doctor-item-name {
      font-size: 0.3749rem;
      color: #a0a0a0;
      margin-bottom: 0.1rem; }
      .doctor-list .doctor-item .doctor-item-detail .doctor-item-name span {
        font-size: 0.4218rem;
        margin-right: 0.08rem;
        color: #333; }
    .doctor-list .doctor-item .doctor-item-detail .doctor-zw {
      overflow: hidden; }
      .doctor-list .doctor-item .doctor-item-detail .doctor-zw .doctor-zw-item {
        font-size: 0.2812rem;
        padding: 0.05rem 0.1rem;
        color: #fff;
        background: #007ac1;
        border-radius: 0.08rem;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        display: inline-block; }
    .doctor-list .doctor-item .doctor-item-detail .doctor-text {
      font-size: 0.2812rem; }
    .doctor-list .doctor-item .doctor-item-detail .doctor-zx {
      margin-top: 0.5rem; }
      .doctor-list .doctor-item .doctor-item-detail .doctor-zx a {
        padding: 0.12rem 0.36rem;
        color: #fff;
        font-size: 0.3281rem; }
        .doctor-list .doctor-item .doctor-item-detail .doctor-zx a:nth-of-type(1) {
          background: #ff7e46; }
        .doctor-list .doctor-item .doctor-item-detail .doctor-zx a:nth-of-type(2) {
          background: #007ac1; }

.current-doctor {
  padding: 0 0.2rem; }
  .current-doctor .doctor-lg-img {
    width: 4rem;
    margin: 0 auto 0.23rem; }
    .current-doctor .doctor-lg-img img {
      display: block;
      width: 100%;
      height: 4.46rem; }
  .current-doctor .doctor-item-name {
    font-size: 0.3749rem;
    color: #a0a0a0;
    margin-bottom: 0.1rem; }
    .current-doctor .doctor-item-name span {
      font-size: 0.4218rem;
      margin-right: 0.08rem;
      color: #333; }
  .current-doctor .doctor-zw {
    overflow: hidden; }
    .current-doctor .doctor-zw .doctor-zw-item {
      font-size: 0.2812rem;
      padding: 0.05rem 0.1rem;
      color: #fff;
      background: #007ac1;
      border-radius: 0.08rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
      display: inline-block; }
  .current-doctor .current-doctor-detail {
    font-size: 0.3281rem; }

/*# sourceMappingURL=style.css.map */
