*{
  margin: 0;padding: 0;box-sizing: border-box;
}
body{
  max-width: 640px;margin: 0 auto;
}
.banner{
  img{
    display: block;width: 100%;
  }
}
.banner{
  .swiper-pagination{
    width: 45px;height: 45px;background: #c8c8c8;opacity: 0.7;left: auto;right: 10px;border-radius: 50%;line-height: 45px;
    font-size: 16px;bottom: 65px;
  }
}
.seckill-info{
  overflow: hidden;display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;
  .seckill-detail{
    background: url("../images/miaosha/bg.jpg") no-repeat center;background-size: 100% 100%;width: 60%;padding: 3px 10px;
    .seckill-price{
      font-size: 15px;font-weight: bold;
      strong{
        font-size: 30px;
      }
    }
    .seckill-pre-price{
      overflow: hidden;
      .naoling{
        float: left;border: 1px solid #fff;
        .naoling-bg{
          float: left;padding: 2px 5px;background: #fff;
          .icon{
            color: #ff9000;font-size: 23px;
          }
        }
        .naoling-text{
          float: left;color: #fff;font-size: 10px;padding-top: 6px;padding-left: 5px;
        }
      }
      s{
        font-size: 13px;color: #ffffff;padding-left: 5px;padding-top: 6px;float: left;
      }
    }
    p{
      font-size: 10px;color: #fff;
    }
  }
  .seckill-img{
    width: 60%;
    img{
      display: block;width: 100%;
    }
  }
  .seckill-time-wrapper{
    background: #ffebd4;width: 40%;height: 100%;text-align: center;align-items: center;-webkit-align-items: center;
    display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;
  }
  .seckill-time{
    p{
      text-align: center;font-size: 12px;color: #ff6000;padding-top:1%;margin-bottom: 0;
    }
    .seckill-lefttime{
      display: flex;justify-content: center;-webkit-justify-content: center;padding-top: 5px;color: #ff6000;
      div{
        font-size: 15px;padding: 2px;background: #ff6000;color: #fff;border-radius: 2%;
      }
    }
    button{
      font-size: 10px;border: none;background: #eaeaea;padding: 3px 5px;margin-top: 2%;
    }

  }
}
.seckill-order{
  display: flex;display: -webkit-flex;justify-content: space-around;-webkit-justify-content: space-around;
  padding: 7px 0;
  .input-text{
    margin-bottom: 0;
    input[name="username"]{
      width: 70px;
    }
    input[name="phone"]{
      width: 90px;
    }
    label{
      font-size: 12px;
    }
  }
  button{
    border: none;color: #fff;padding: 3px 10px;border-radius: 5px;height: 25px;background: #ff8b00;
    &.disabled{
      background: #e8e8e8;
    }
  }
}
.seckill-tab{
  padding: 8px;display: flex;display: -webkit-flex;justify-content: space-around;-webkit-justify-content: space-around;
  align-items: center;-webkit-align-items: center;background: #e8e8e8;
  .seckill-tab-item{
    font-size: 12px;width: 100%;text-align: center;
    &.active{
      color: #ff6000;
    }
  }
  .divide{
    color: #c7c7c7;
  }
}
.seckill-tab-slide{
  .swiper-slide{
    img{
      display: block;width: 100%;
    }
    .tips{
      font-size: 12px;padding: 10px;
      .text-color{
        color: #ff6000;
      }
    }
    .ewm{
      width: 120px;margin: 0 auto;
      img{
        display: block;width: 100%;
      }
    }
  }
}
.seckill-rule{
  padding: 10px;
  font-size: 14px;
  .seckill-rule-title{
    font-size: 16px;margin-bottom: 23px;color: #ff6000;font-weight: bold;margin-top: 18px;
  }
  p{
    margin-bottom: 8px;
  }
}
.popup{
  position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: rgba(0,0,0,0.6);z-index: 999;display: none;
  img{
    display: block;margin: 0 auto;width: 100%;
  }
  .failed,.success{
    margin-top: 100px;position: relative;width: 290px;margin-left: auto;margin-right: auto;display: none;
  }
  .popup-close{
    width: 30px;height: 30px;position: absolute;right: 0;top: 0;
  }
}